<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="/static/css/component.css" />
    <link rel="stylesheet" href="/static/css/sidebarHeader.css" />

    <title>kiosk</title>

    <style></style>
  </head>
  <body>
    <%- include("./component/sidebarHeader")%>

    <main id="main">
      <h1>키오스크 내용 삽입</h1>
    </main>

    <script src="/static/javaScript/sidebar.js"></script>
  </body>
</html>
