<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>main page</title>

    <link rel="stylesheet" href="/static/css/component.css" />

    <style>
      .userContent {
        width: 700px;
        height: 400px;
        background-color: var(--color-grey);

        position: relative;
        display: flex;
        flex-direction: column;

        /* justify-content: center;
        align-items: center; */
        border-radius: var(--border-radius-medium);
        box-shadow: var(--shadow);
      }

      .btnS {
        background-color: var(--color-orange-4);
        color: var(--color-grey-0);
        font-size: 14px;
        border: 1px solid var(--color-orange-3);
        width: 100px;
        height: 30px;
        border-radius: var(--border-radius-small);
        margin-left: var(--space-0);
      }

      .modal {
        position: absolute;
        background-color: white;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
      }

      .modalDel {
        position: absolute;
        background-color: white;
        display: none;
        width: 100%;
        height: 100%;
      }

      .userContent > .infos {
        width: 700px;
        height: 50px;

        /* background-color: pink; */
        line-height: 50px;
        display: flex;
        align-items: center;
      }

      .infos > input {
        width: 200px;
        height: 30px;
        border: 1px solid var(--color-black-1);
        border-radius: var(--border-radius-small);
        font-size: 16px;
        margin-bottom: var(--space-0);
      }

      .infos > label {
        display: inline-block;
        width: 80px;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <!-- header -->
    <%- include("./component/header2")%>

    <main class="container">
      <div class="userContent">
        <!--  -->
        <div class="infos userId">
          <label for="userid">아이디 </label>
          <input
            type="text"
            id="userid"
            value="<%= userInfo.userid %>"
            readonly
          />
          <div>아이디는 변경 불가능합니다.</div>
        </div>

        <div class="infos userName">
          <label for="name">이름</label>
          <input type="text" id="name" value="<%= userInfo.name %>" />
          <button id="change-name-button" class="btnS">이름 변경</button>
          <div id="result-of-change-name"></div>
        </div>

        <div class="infos">
          <!-- 비빌번호 변경 -->
          <button class="btnS openPwModal">비밀번호 변경</button>

          <div class="modal modalPw">
            <form name="change-password">
              <label for="current-password">현재 비밀번호</label>
              <input
                type="password"
                id="current-password"
                name="current-password"
              />
              <label for="new-password">새 비밀번호</label>
              <input type="password" id="new-password" name="new-password" />
              <label for="confirm-password">비밀번호 확인</label>
              <input
                type="password"
                id="confirm-password"
                name="confirm-password"
              />
              <button id="change-password-button" type="button" class="btnS">
                비밀번호 변경
              </button>

              <button>닫기</button>
            </form>
            <div id="result-of-change-password"></div>
          </div>

          <!-- 회원 탈퇴 -->
          <button id="delete-user-button" class="btnS openDelModal">
            회원 탈퇴
          </button>

          <div class="modal modalDel">
            <div>
              회원을 탈퇴하시겠습니까?
              <p>(예 버튼 클릭시 즉시 탈퇴됩니다.)</p>
              <button id="delete-user-button-yes">예</button>
              <button id="delete-user-button-no" onclick="close()">
                아니오
              </button>
            </div>
            <div id="result-of-delete-user"></div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./component/footer')%>
    <script>
      const modal1 = document.querySelector(".modalPw");
      const modal2 = document.querySelector(".modalDel");

      const openModal1 = document.querySelector(".openPwModal");
      const openModal2 = document.querySelector(".openDelModal");

      openModal1.addEventListener("click", () => {
        modal1.style.display = "flex";
      });

      openModal2.addEventListener("click", () => {
        modal2.style.display = "flex";
      });

      function close() {
        modal2.style.display = "none";
      }

      //  회원 정보 변경 관련 함수
      const changeNameBtnElement = document.querySelector(
        "#change-name-button"
      );
      const changePasswordBtnElement = document.querySelector(
        "#change-password-button"
      );
      const deleteUserBtnElement = document.querySelector(
        "#delete-user-button-yes"
      );

      async function changeName() {
        const nameElement = document.querySelector("#name");
        const result = document.querySelector("#result-of-change-name");
        const res = await axios({
          url: "/mypage/changename",
          method: "patch",
          data: {
            name: nameElement.value,
          },
        });
        console.log(res.data);
        result.textContent = res.data.msg;
      }

      async function changePassword() {
        const passwordForm = document.forms["change-password"];
        const resultOfchangePassword = document.querySelector(
          "#result-of-change-password"
        );

        const res = await axios({
          url: "/mypage/changepassword",
          method: "patch",
          data: {
            currentPassword: passwordForm["current-password"].value,
            newPassword: passwordForm["new-password"].value,
            confirmPassword: passwordForm["confirm-password"].value,
          },
        });
        console.log(res.data);
        resultOfchangePassword.textContent = res.data.msg;
        console.log(res.data.isError);

        if (res.data.isError === false) {
          alert("비밀번호 변경이 완료되었습니다.");
          modal1.style.display = "none";
        }
      }

      async function deleteUser() {
        const resultOfDeleteUser = document.querySelector(
          "#result-of-delete-user"
        );
        const res = await axios({
          url: "/mypage",
          method: "delete",
        });

        if (!res.data.isError) {
          alert("회원 탈퇴가 완료되었습니다.");
          location.href = "/";
        } else {
          resultOfDeleteUser.textContent = res.data.msg;
        }
      }

      changeNameBtnElement.addEventListener("click", changeName);
      changePasswordBtnElement.addEventListener("click", changePassword);
      deleteUserBtnElement.addEventListener("click", deleteUser);
    </script>
  </body>
</html>
