<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>main page</title>

    <link rel="stylesheet" href="/static/css/component.css" />
  </head>
  <body>
    <main class="container">
      <img src="/static/css/logo2.png" alt="" class="logo" />
      <h1>401 error! 접근 권한이 없습니다.</h1>

      <p>현재 해당 페이지 접근 권한이 없습니다.</p>
      <p>페이지 이용을 위해 회원 가입 또는 로그인을 진행해주세요!</p>

      <a href="/"> 메인화면 이동하기 </a>
    </main>
  </body>
</html>
