<footer>
  <nav>
    <br />
    <br />
    <a href="" target="_blank">Github 바로가기</a>

    <br />
    <span
      >Copyright © 2023 [POSCO X CODINON]-KDT 10th. All Rights Reserved.</span
    >
    <br />
  </nav>
</footer>
