<header class="header">
  <div class="logo">
    <a href="/">
      <img src="/static/css/test3.png" alt="" class="logo" />
    </a>
  </div>

  <div class="mainHeader"></div>

  <ul class="nav">
    <li><a href="">이용 안내</a></li>
    <li>
      <% if(locals.accessToken) {%>
      <!-- <button id="logout" onclick="logout()">로그아웃</button> -->
      <a href="" onclick="logout()" id="logout">로그아웃</a>

      <%} else { %>
      <a href="/login">로그인</a>
      <%}%>
    </li>
    <li>
      <% if(locals.accessToken) {%>
      <a href="/mypage"> 마이페이지 </a>
      <%} else { %>

      <a href="/signup"> 회원가입</a>
      <%}%>
    </li>
  </ul>
  <script>
    async function logout() {
      const res = await axios({
        method: "post",
        url: "/logout",
      });

      location.href = "/";
    }
  </script>
</header>
