<header>
  <nav class="nav header2">
    <div class="headerContainer">
      <!-- 로고 -->
      <a href="/"><img src="/static/css/logo2.png" alt="" class="logo" /></a>

      <!-- 헤더 nav -->
      <ul class="navMenu">
        <li class="navi-li headerli">
          <a href="#">컴퓨터</a>
        </li>

        <li class="navi-li headerli">
          <a href="#">생활편의</a>
        </li>

        <li class="navi-li headerli">
          <a href="/culture">문화여가</a>
        </li>

        <li class="navi-li headerli">
          <a href="/community">게시판</a>
        </li>
      </ul>

      <!-- 로그인 -->
      <ul class="navUser">
        <li class="navi-li headerli"><a href="">이용 안내</a></li>
        <li class="navi-li headerli">
          <% if(locals.accessToken) {%>
          <!-- <button id="logout" onclick="logout()">로그아웃</button> -->
          <a onclick="logout(window.event)" id="logout"> 로그아웃</a>

          <%} else { %>
          <a href="/login">로그인</a>
          <%}%>
        </li>
        <li class="navi-li headerli">
          <% if(locals.accessToken) {%>
          <a href="/Mypage"> 마이페이지 </a>
          <%} else { %>

          <a href="/signup"> 회원가입</a>
          <%}%>
        </li>
      </ul>
    </div>
  </nav>
  <script>
    async function logout(event) {
      event.preventDefault();
      const res = await axios({
        method: "post",
        url: "/logout",
      });

      location.href = "/";
    }
  </script>
</header>
