html {
  /* 검정 계열  */
  --color-black-1: rgb(204, 204, 204);
  --color-black-2: rgb(153, 153, 153);
  --color-black-3: rgb(102, 102, 102);
  --color-black-4: rgb(51, 51, 51);
  --color-black-5: rgb(0, 0, 0);

  /* 빨강 계열 */
  --color-red-1: rgb(255, 194, 194);
  --color-red-2: rgb(250, 153, 153);
  --color-red-3: rgb(239, 112, 112);
  --color-red-4: rgb(228, 71, 71);
  --color-red-5: rgb(207, 10, 10);

  /* 주황 계열 */
  --color-orange-1: rgb(255, 214, 191);
  --color-orange-2: rgb(255, 184, 143);
  --color-orange-3: rgb(243, 154, 95);
  --color-orange-4: rgb(232, 125, 48);
  --color-orange-5: rgb(220, 95, 0);

  /* 검정 */
  --color-black-0: #333;

  /* 흰색 */
  --color-white-0: #ffffff;

  /* 회색 */
  --color-grey-0: #eeeeee;
  --color-grey-1: #f2f2f2;

  /* 둥글기 */
  --border-radius-small: 5px;
  --border-radius-medium: 10px;
  --border-radius-large: 15px;

  /* 그림자 */
  --shadow: 0 3px 3px rgb(51, 51, 51, 0.2);

  /* 여백 */
  /* font-size에 비례 */
  --space-0: 0.25rem;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;

  /* height: 100%; */
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GmarketSansMedium";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-black-0);
  /* 마우스 포인트 */
  cursor: url(./img/basic.png) 10 10, auto;
}

/* 로고 */
.logo {
  width: 200px;
  height: 100px;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

body {
  overflow-x: scroll;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  cursor: url(./img/pointer.png) 10 10, auto;
}


/* 공용 버튼 */
.common-btn {
  font-size: 20px;
  position: relative;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  cursor: url(./img/pointer.png) 10 10, auto;
  overflow: hidden;
  background-color: white;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}
.common-btn:hover::before {
  position: absolute;
  content: "";
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: fill 0.7s;
  animation-timing-function: linear;
}
@keyframes fill {
  0% {
      left: -100%;
      width: 0px;
      height: 0px;
      border-bottom: 250px solid white;
      border-left: 100px solid transparent;
      border-right: 100px solid white;
  }
  50% {
      left: -50%;
      width: 0px;
      height: 0px;
  }
  100% {
      left: 0%;
      width: 0px;
      height: 0px;
      border-bottom: 360px solid white;
      border-left: 180px solid transparent;
      border-right: 180px solid white;
  }
}
/* 공용 버튼 안에 글자 */
.common-text {
  position: relative;
  cursor: url(./img/pointer.png) 10 10, auto;
  z-index: 2;
}
.common-btn:hover .common-text {
  animation: colorchange 0.7s linear forwards;
}
@keyframes colorchange {
  50% {
      color: white;
  }
  100% {
      color: white;
  }
}
/* <button class="common-btn"><span class="common-text">버튼</span></button> 이런식으로 */
header {
  font-size: 18px;
}

.header1 {
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.header2 {
  background-color: white;
  transition: all 0.3s ease-in-out;
  /* box-shadow: var(--shadow); */
  border-bottom: 2px solid var(--color-grey-0);
}

.header2 > li {
  color: black !important;
}

.nav {
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 10;
}

.nav > .headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.navMenu {
  width: 35%;
  display: flex;
  justify-content: space-around;
  /* margin-left: 15rem; */
  /* border: 1px solid red; */
}

.navi-li {
  /* width: 45%; */
  /* margin-left: 2rem; */
  cursor: pointer;
}

.indexli a {
  color: #fff;
  /* padding: 10px; */
  transition: color 0.3s ease-in-out;
}

.headerli a {
  /* padding: 10px; */
  color: var(--color-black-0);
  transition: color 0.3s ease-in-out;
}

.nav-ul {
  display: none;
  position: absolute;
  top: 100%;
  width: 9%;
  text-align: center;
  background-color: black;
  box-shadow: var(--shadow);
  z-index: 1;
}

.nav-ul > li > a {
  display: block;
}

.nav-ul li {
  padding: 10px 0 10px 0;
  border-top: 1px solid #fff;
}

.navUser {
  display: flex;
  justify-content: space-between;
}

/* footer 영역 CSS  */
footer {
  background-color: var(--color-grey-0);
  width: 100%;
  height: 80px;
  position: absolute;
  top: 100px;
  bottom: 0;
  color: var(--color-black-1);
}

.footer-nav-box {
  border: 1px solid black;
  border-radius: 20px;
  height: 100px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-nav-box > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 100%;
  height: 100%;
  margin: 0px;
  padding: 0;
  width: 100%;
}

/* 메인 콘텐츠 영역 */

/* 버튼 */
input {
  cursor: pointer;
}

input:focus {
  /* outline: 1px solid var(--color-red-5); */
  outline: none;
  /* background-color: var(--color-orange-1); */
}

input:focus::placeholder {
  font-size: 0px;
}

.space {
  width: 100%;
  height: 200px;
}
