html {
  /* 검정 계열  */
  --color-black-1: rgb(204, 204, 204);
  --color-black-2: rgb(153, 153, 153);
  --color-black-3: rgb(102, 102, 102);
  --color-black-4: rgb(51, 51, 51);
  --color-black-5: rgb(0, 0, 0);

  /* 빨강 계열 */
  --color-red-1: rgb(255, 194, 194);
  --color-red-2: rgb(250, 153, 153);
  --color-red-3: rgb(239, 112, 112);
  --color-red-4: rgb(228, 71, 71);
  --color-red-5: rgb(207, 10, 10);

  /* 주황 계열 */
  --color-orange-1: rgb(255, 214, 191);
  --color-orange-2: rgb(255, 184, 143);
  --color-orange-3: rgb(243, 154, 95);
  --color-orange-4: rgb(232, 125, 48);
  --color-orange-5: rgb(220, 95, 0);

  /* 검정 */
  --color-black-0: #333;

  /* 흰색 */
  --color-white-0: #ffffff;

  /* 회색 */
  --color-grey-0: #eeeeee;
  --color-grey-1: #f2f2f2;

  /* 둥글기 */
  --border-radius-small: 5px;
  --border-radius-medium: 10px;
  --border-radius-large: 15px;

  /* 그림자 */
  --shadow: 0 3px 3px rgb(51, 51, 51, 0.2);

  /* 여백 */
  /* font-size에 비례 */
  --space-0: 0.25rem;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;

  /* height: 100%; */
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GmarketSansMedium";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-black-0);
}

/* 로고 */
.logo {
  width: 200px;
  height: 100px;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

body {
  overflow-x: scroll;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  cursor: pointer;
}

/* footer 영역 CSS  */
footer {
  background-color: var(--color-grey-0);
  width: 100%;
  height: 80px;
  position: absolute;
  top: 100px;
  bottom: 0;
  color: var(--color-black-1);
}

.footer-nav-box {
  border: 1px solid black;
  border-radius: 20px;
  height: 100px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-nav-box > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 100%;
  height: 100%;
  margin: 0px;
  padding: 0;
  width: 100%;
}

/* 메인 콘텐츠 영역 */

/* 버튼 */
input {
  cursor: pointer;
}

input:focus {
  /* outline: 1px solid var(--color-red-5); */
  outline: none;
  /* background-color: var(--color-orange-1); */
}

input:focus::placeholder {
  font-size: 0px;
}

.space {
  width: 100%;
  height: 200px;
}
