/* section */
section {
  transition: all 0.6s ease-in-out;
}

.up {
  transform: translateY(20%);
  transition: all 0.6s ease-in-out;
}

.user {
  display: flex;
}

.nav a {
  color: #fff;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}

.block {
  display: block;
}

.visual {
  background: url("https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
    no-repeat bottom center;
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
  z-index: -2;
}

.visual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
